<h1>Listing Events</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Eventname</th>
      <th>Eventtype</th>
      <th>Location</th>
      <th>Reserve Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.eventname %></td>
        <td><%= event.eventtype %></td>
        <td><%= event.location %></td>
        <td><%= event.price %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><hr>

<h3>Add New Event</h3><br>

<%= render 'form' %>

