<p id="notice"><%= notice %></p>

<p>
  <strong>Eventname:</strong>
  <%= @event.eventname %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @event.eventtype %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
