<%= form_for(@bid) do |b| %>

  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>

  <div class="field">
    <%= b.label :price %><br>
    <%= b.number_field :price %>
  </div>
  <div class="field">
    <%= b.label :bidder %><br>
    <%= b.select(:bidder, @customers.collect {|c| [c.name] }, { include_blank: true }) %>
  </div>
  <div>
  	<%= b.hidden_field :event_id, :value => (params[:id]) %>
  </div>
  <div class="actions">
    <%= b.submit %>
  </div>
<% end %>

