<%= form_for(@bid) do |b| %>
 
  <div class="field">
    <%= b.label :price %><br>
    <%= b.number_field :price %>
  </div>
  <div class="field">
    <%= b.label :bidder %><br>
    <%= b.select(:bidder, @customers.collect {|c| [c.name] }, { include_blank: true }) %>
  </div>

  <div>
  	<%= b.label(:event_id) %>
  	<%= b.number_field :event_id %>
  </div

  <div class="actions">
    <%= b.submit %>
  </div>
<% end %>

