<%= form_for(@bid) do |b| %>

  <br />

  <div class="field">
    <%= b.label :price %><br>
    <%= b.number_field :price %>
  </div>
  <div class="field">
    <%= b.label :bidder %><br>
    <%= b.select(:bidder, @customers.collect {|c| [c.name] }, { include_blank: true }) %>
  </div>
  <div>
  	<%= b.hidden_field :event_id, :value => (params[:id]) %>
  </div>
  <div class="actions">
    <%= b.submit %>
  </div>
<% end %>

