<h1>Ticket Booking Page</h1><br>

<h3>Select the ticket you wish to bid for</h3>	<br>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event Type</th>
      <th>Location</th>
      <th>Reserve Price</th>
      <th>Current Bid</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.eventname %></td>
        <td><%= event.eventtype %></td>
        <td><%= event.location %></td>
        <td><%= event.price %></td>
        <td><%= event.price %></td>
        <td><%= link_to 'Bid', "/tickets/#{event.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>